<?xml version="1.0" encoding="UTF-8"?>
<ipxact:component xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ipxact="http://www.accellera.org/XMLSchema/IPXACT/1685-2014" xmlns:kactus2="http://kactus2.cs.tut.fi" xsi:schemaLocation="http://www.accellera.org/XMLSchema/IPXACT/1685-2014/ http://www.accellera.org/XMLSchema/IPXACT/1685-2014/index.xsd">
    <ipxact:vendor>ase</ipxact:vendor>
    <ipxact:library>flat</ipxact:library>
    <ipxact:name>lsu_registers</ipxact:name>
    <ipxact:version>1.0</ipxact:version>

    <ipxact:parameters>
        <ipxact:parameter parameterId="dataw" type="integer">
            <ipxact:name>dataw_g</ipxact:name>
            <ipxact:value>BIT_WIDTH</ipxact:value>
        </ipxact:parameter>
        <ipxact:parameter parameterId="low_bits" type="integer">
            <ipxact:name>low_bits_g</ipxact:name>
            <ipxact:value>LOW_BITS</ipxact:value>
        </ipxact:parameter>
        <ipxact:parameter parameterId="addrw" type="integer">
            <ipxact:name>addrw_g</ipxact:name>
            <ipxact:value>addrw_c</ipxact:value>
        </ipxact:parameter>
    </ipxact:parameters>

    <ipxact:model>
        <ipxact:views>
            <ipxact:view>
                <ipxact:name>flat</ipxact:name>
            </ipxact:view>
        </ipxact:views>

        <ipxact:ports>
            <ipxact:port>
                <ipxact:name>clk</ipxact:name>
                <ipxact:wire>
                    <ipxact:wireTypeDef>
                        <ipxact:typeName constrained="true">std_logic</ipxact:typeName>
                    </ipxact:wireTypeDef>
                    <ipxact:direction>in</ipxact:direction>
                </ipxact:wire>
            </ipxact:port>
            <ipxact:port>
                <ipxact:name>rstx</ipxact:name>
                <ipxact:wire>
                    <ipxact:wireTypeDef>
                        <ipxact:typeName constrained="true">std_logic</ipxact:typeName>
                    </ipxact:wireTypeDef>
                    <ipxact:direction>in</ipxact:direction>
                </ipxact:wire>
            </ipxact:port>
            <ipxact:port>
                <ipxact:name>glock_in</ipxact:name>
                <ipxact:wire>
                    <ipxact:wireTypeDef>
                        <ipxact:typeName constrained="true">std_logic</ipxact:typeName>
                    </ipxact:wireTypeDef>
                    <ipxact:direction>in</ipxact:direction>
                </ipxact:wire>
            </ipxact:port>

            <ipxact:port>
                <ipxact:name>glockreq_out</ipxact:name>
                <ipxact:wire>
                    <ipxact:wireTypeDef>
                        <ipxact:typeName constrained="true">std_logic</ipxact:typeName>
                    </ipxact:wireTypeDef>
                    <ipxact:direction>out</ipxact:direction>
                </ipxact:wire>
            </ipxact:port>

            <ipxact:port>
                <ipxact:name>avalid_in</ipxact:name>
                <ipxact:wire>
                    <ipxact:wireTypeDef>
                        <ipxact:typeName constrained="true">std_logic</ipxact:typeName>
                    </ipxact:wireTypeDef>
                    <ipxact:direction>in</ipxact:direction>
                </ipxact:wire>
            </ipxact:port>
            <ipxact:port>
                <ipxact:name>awren_in</ipxact:name>
                <ipxact:wire>
                    <ipxact:wireTypeDef>
                        <ipxact:typeName constrained="true">std_logic</ipxact:typeName>
                    </ipxact:wireTypeDef>
                    <ipxact:direction>in</ipxact:direction>
                </ipxact:wire>
            </ipxact:port>

            <ipxact:port>
                <ipxact:name>aaddr_in</ipxact:name>
                <ipxact:wire>
                    <ipxact:wireTypeDef>
                        <ipxact:typeName>std_logic_vector</ipxact:typeName>
                    </ipxact:wireTypeDef>
                    <ipxact:vectors>
                        <ipxact:vector>
                            <ipxact:left>addrw_c-1</ipxact:left>
                            <ipxact:right>0</ipxact:right>
                        </ipxact:vector>
                    </ipxact:vectors>
                    <ipxact:direction>in</ipxact:direction>
                </ipxact:wire>
            </ipxact:port>
            <ipxact:port>
                <ipxact:name>astrb_in</ipxact:name>
                <ipxact:wire>
                    <ipxact:wireTypeDef>
                        <ipxact:typeName>std_logic_vector</ipxact:typeName>
                    </ipxact:wireTypeDef>
                    <ipxact:vectors>
                        <ipxact:vector>
                            <ipxact:left>BYTE_WIDTH-1</ipxact:left>
                            <ipxact:right>0</ipxact:right>
                        </ipxact:vector>
                    </ipxact:vectors>
                    <ipxact:direction>in</ipxact:direction>
                </ipxact:wire>
            </ipxact:port>
            <ipxact:port>
                <ipxact:name>adata_in</ipxact:name>
                <ipxact:wire>
                    <ipxact:wireTypeDef>
                        <ipxact:typeName>std_logic_vector</ipxact:typeName>
                    </ipxact:wireTypeDef>
                    <ipxact:vectors>
                        <ipxact:vector>
                            <ipxact:left>BIT_WIDTH-1</ipxact:left>
                            <ipxact:right>0</ipxact:right>
                        </ipxact:vector>
                    </ipxact:vectors>
                    <ipxact:direction>in</ipxact:direction>
                </ipxact:wire>
            </ipxact:port>

            <ipxact:port>
                <ipxact:name>avalid_out</ipxact:name>
                <ipxact:wire>
                    <ipxact:wireTypeDef>
                        <ipxact:typeName constrained="true">std_logic</ipxact:typeName>
                    </ipxact:wireTypeDef>
                    <ipxact:direction>out</ipxact:direction>
                </ipxact:wire>
            </ipxact:port>
            <ipxact:port>
                <ipxact:name>aready_in</ipxact:name>
                <ipxact:wire>
                    <ipxact:wireTypeDef>
                        <ipxact:typeName constrained="true">std_logic</ipxact:typeName>
                    </ipxact:wireTypeDef>
                    <ipxact:direction>in</ipxact:direction>
                </ipxact:wire>
            </ipxact:port>
            <ipxact:port>
                <ipxact:name>aaddr_out</ipxact:name>
                <ipxact:wire>
                    <ipxact:wireTypeDef>
                        <ipxact:typeName>std_logic_vector</ipxact:typeName>
                    </ipxact:wireTypeDef>
                    <ipxact:vectors>
                        <ipxact:vector>
                            <ipxact:left>addrw_c-LOW_BITS-1</ipxact:left>
                            <ipxact:right>0</ipxact:right>
                        </ipxact:vector>
                    </ipxact:vectors>
                    <ipxact:direction>out</ipxact:direction>
                </ipxact:wire>
            </ipxact:port>
            <ipxact:port>
                <ipxact:name>awren_out</ipxact:name>
                <ipxact:wire>
                    <ipxact:wireTypeDef>
                        <ipxact:typeName constrained="true">std_logic</ipxact:typeName>
                    </ipxact:wireTypeDef>
                    <ipxact:direction>out</ipxact:direction>
                </ipxact:wire>
            </ipxact:port>
            <ipxact:port>
                <ipxact:name>astrb_out</ipxact:name>
                <ipxact:wire>
                    <ipxact:wireTypeDef>
                        <ipxact:typeName>std_logic_vector</ipxact:typeName>
                    </ipxact:wireTypeDef>
                    <ipxact:vectors>
                        <ipxact:vector>
                            <ipxact:left>BYTE_WIDTH-1</ipxact:left>
                            <ipxact:right>0</ipxact:right>
                        </ipxact:vector>
                    </ipxact:vectors>
                    <ipxact:direction>out</ipxact:direction>
                </ipxact:wire>
            </ipxact:port>
            <ipxact:port>
                <ipxact:name>adata_out</ipxact:name>
                <ipxact:wire>
                    <ipxact:wireTypeDef>
                        <ipxact:typeName>std_logic_vector</ipxact:typeName>
                    </ipxact:wireTypeDef>
                    <ipxact:vectors>
                        <ipxact:vector>
                            <ipxact:left>BIT_WIDTH-1</ipxact:left>
                            <ipxact:right>0</ipxact:right>
                        </ipxact:vector>
                    </ipxact:vectors>
                    <ipxact:direction>out</ipxact:direction>
                </ipxact:wire>
            </ipxact:port>

            <ipxact:port>
                <ipxact:name>rvalid_in</ipxact:name>
                <ipxact:wire>
                    <ipxact:wireTypeDef>
                        <ipxact:typeName constrained="true">std_logic</ipxact:typeName>
                    </ipxact:wireTypeDef>
                    <ipxact:direction>in</ipxact:direction>
                </ipxact:wire>
            </ipxact:port>
            <ipxact:port>
                <ipxact:name>rready_out</ipxact:name>
                <ipxact:wire>
                    <ipxact:wireTypeDef>
                        <ipxact:typeName constrained="true">std_logic</ipxact:typeName>
                    </ipxact:wireTypeDef>
                    <ipxact:direction>out</ipxact:direction>
                </ipxact:wire>
            </ipxact:port>


            <ipxact:port>
                <ipxact:name>rdata_in</ipxact:name>
                <ipxact:wire>
                    <ipxact:wireTypeDef>
                        <ipxact:typeName>std_logic_vector</ipxact:typeName>
                    </ipxact:wireTypeDef>
                    <ipxact:vectors>
                        <ipxact:vector>
                            <ipxact:left>BIT_WIDTH-1</ipxact:left>
                            <ipxact:right>0</ipxact:right>
                        </ipxact:vector>
                    </ipxact:vectors>
                    <ipxact:direction>in</ipxact:direction>
                </ipxact:wire>
            </ipxact:port>
            <ipxact:port>
                <ipxact:name>rdata_out</ipxact:name>
                <ipxact:wire>
                    <ipxact:wireTypeDef>
                        <ipxact:typeName>std_logic_vector</ipxact:typeName>
                    </ipxact:wireTypeDef>
                    <ipxact:vectors>
                        <ipxact:vector>
                            <ipxact:left>BIT_WIDTH-1</ipxact:left>
                            <ipxact:right>0</ipxact:right>
                        </ipxact:vector>
                    </ipxact:vectors>
                    <ipxact:direction>out</ipxact:direction>
                </ipxact:wire>
            </ipxact:port>

            <ipxact:port>
                <ipxact:name>addr_low_out</ipxact:name>
                <ipxact:wire>
                    <ipxact:wireTypeDef>
                        <ipxact:typeName>std_logic_vector</ipxact:typeName>
                    </ipxact:wireTypeDef>
                    <ipxact:vectors>
                        <ipxact:vector>
                            <ipxact:left>LOW_BITS-1</ipxact:left>
                            <ipxact:right>0</ipxact:right>
                        </ipxact:vector>
                    </ipxact:vectors>
                    <ipxact:direction>out</ipxact:direction>
                </ipxact:wire>
            </ipxact:port>

        </ipxact:ports>
    </ipxact:model>
    <ipxact:vendorExtensions>
        <kactus2:version>3,4,0,0</kactus2:version>
        <kactus2:kts_attributes>
            <kactus2:kts_productHier>IP</kactus2:kts_productHier>
            <kactus2:kts_implementation>HW</kactus2:kts_implementation>
            <kactus2:kts_firmness>Fixed</kactus2:kts_firmness>
        </kactus2:kts_attributes>
    </ipxact:vendorExtensions>
</ipxact:component>
