*~
*_scheduling.xml
*.dot
*.la
*.lo
*.o
*.opb
*.pypp.cpp
*.pypp.hpp
*.so
**/.deps
**/.libs
**/*-runner
**/*.html
**/*.orig
**/runner
**/runner.cpp
**/tta_stream.out
openasip/**/Makefile
/openasip/hdb/generate_lsu_*.hdb
/openasip/hdb/generate_lsu/*
compiletest.*.log
core
core.*
lastresults.csv
Makefile.in
openasip/a.out
openasip/aclocal.m4
openasip/autom4te.cache/
openasip/compile
openasip/config.guess
openasip/config.log
openasip/config.status
openasip/config.sub
openasip/configure
openasip/depcomp
openasip/doc/man/OpenASIP/algorithm.sty
openasip/doc/man/OpenASIP/algorithmic.sty
openasip/doc/man/OpenASIP/Bibliography.bib
openasip/doc/man/OpenASIP/OpenASIP.aux
openasip/doc/man/OpenASIP/OpenASIP.bbl
openasip/doc/man/OpenASIP/OpenASIP.blg
openasip/doc/man/OpenASIP/tce.cls
openasip/doc/man/OpenASIP/OpenASIP.dvi
openasip/doc/man/OpenASIP/OpenASIP.idx
openasip/doc/man/OpenASIP/OpenASIP.ilg
openasip/doc/man/OpenASIP/OpenASIP.ind
openasip/doc/man/OpenASIP/OpenASIP.log
openasip/doc/man/OpenASIP/OpenASIP.out
openasip/doc/man/OpenASIP/OpenASIP.pdf
openasip/doc/man/OpenASIP/OpenASIP.toc
openasip/doc/man/OpenASIP/tcedocs.cls
openasip/install-sh
openasip/libtool
openasip/llvm-build-Release/
openasip/ltmain.sh
openasip/m4/libtool.m4
openasip/m4/lt~obsolete.m4
openasip/m4/ltoptions.m4
openasip/m4/ltsugar.m4
openasip/m4/ltversion.m4
openasip/Makefile.in
openasip/missing
openasip/newlib-1.17.0/config.log
openasip/newlib-1.17.0/config.status
openasip/newlib-1.17.0/configure.lineno
openasip/newlib-1.17.0/serdep.tmp
openasip/newlib-1.17.0/tce-llvm
openasip/openasip-config
openasip/Python-bindings/src/Makefile-subdir.common
openasip/Python-bindings/src/setup.py
openasip/Python-bindings/test/RunPythonFileTests/run_tests.sh
openasip/scheduler/**/Makefile.in
openasip/scripts/tce-selftest
openasip/src/applibs/LLVMBackend/passes/.dirstamp
openasip/src/applibs/LLVMBackend/passes/buildllvmpass
openasip/src/bintools/Assembler/tceasm
openasip/src/bintools/BEMGenerator/createbem
openasip/src/bintools/BEMViewer/viewbem
openasip/src/bintools/BlocksDisassembler/tpef2pasm
openasip/src/bintools/BlocksTranslator/blocks_translator
openasip/src/bintools/Compiler/llvm-tce/llvm-tce
openasip/src/bintools/Compiler/oacc
openasip/src/bintools/Compiler/oacc-riscv
openasip/src/bintools/Compiler/OpenCL/aclocal.m4
openasip/src/bintools/Compiler/OpenCL/autom4te.cache/
openasip/src/bintools/Compiler/OpenCL/config.guess
openasip/src/bintools/Compiler/OpenCL/config.h
openasip/src/bintools/Compiler/OpenCL/config.h.in
openasip/src/bintools/Compiler/OpenCL/config.log
openasip/src/bintools/Compiler/OpenCL/config.status
openasip/src/bintools/Compiler/OpenCL/config.sub
openasip/src/bintools/Compiler/OpenCL/configure
openasip/src/bintools/Compiler/OpenCL/depcomp
openasip/src/bintools/Compiler/OpenCL/examples/oclADDF8x8/Makefile.native
openasip/src/bintools/Compiler/OpenCL/install-sh
openasip/src/bintools/Compiler/OpenCL/libtool
openasip/src/bintools/Compiler/OpenCL/ltmain.sh
openasip/src/bintools/Compiler/OpenCL/missing
openasip/src/bintools/Compiler/OpenCL/stamp-h1
openasip/src/bintools/Compiler/OpenCL/tests/atconfig
openasip/src/bintools/Compiler/OpenCL/tests/atlocal
openasip/src/bintools/Compiler/tcecc
openasip/src/bintools/Compiler/tceopgen/tceoclextgen
openasip/src/bintools/Compiler/tceopgen/tceopgen
openasip/src/bintools/Compiler/tdgen/tdgen_transport
openasip/src/bintools/DictionaryTool/dictionary_tool
openasip/src/bintools/Disassembler/tcedisasm
openasip/src/bintools/PIG/buildcompressor
openasip/src/bintools/PIG/generatebits
openasip/src/bintools/Scheduler/buildschedulerpass
openasip/src/bintools/Scheduler/schedule
openasip/src/bintools/TPEFDumper/dumptpef
openasip/src/codesign/Estimator/buildestimatorplugin
openasip/src/codesign/Estimator/estimate
openasip/src/codesign/Explorer/buildexplorerplugin
openasip/src/codesign/Explorer/explore
openasip/src/codesign/osal/OSALBuilder/buildopset
openasip/src/codesign/osal/OSALTester/testosal
openasip/src/codesign/osal/OSEd/osed
openasip/src/codesign/Proxim/proxim
openasip/src/codesign/ttasim/ttasim
openasip/src/codesign/ttasim/ttasim-tandem
openasip/src/procgen/HDB/createhdb
openasip/src/procgen/HDBEditor/hdbeditor
openasip/src/procgen/HDBEditor/testhdb
openasip/src/procgen/MachInfo/machinfo
openasip/src/procgen/ProDe/prode
openasip/src/procgen/ProGe/buildicdecoderplugin
openasip/src/procgen/ProGe/generateprocessor
openasip/src/procgen/ProGe/ttaunittester
openasip/src/tools/.libs/
openasip/src/tools/tce_version_string.h
openasip/stamp-h1
openasip/tce_config.h
openasip/tce_config.h.in
openasip/tce-config
openasip/test/**/data
openasip/test/Makefile_configure_settings
openasip/test/Makefile.in
scripts/tce-selftest
src/bintools/Compiler/tcecc
testsuite/**/data
testsuite/systemtest_long/bintools/Compiler/**/program.bc
testsuite/systemtest_long/bintools/Scheduler/**/program.bc
testsuite/systemtest/bintools/Scheduler/**/program.bc
vgcore*

# Keep these files (not generated, so we need them in the repo)
!/openasip/doc/latexdefs/fig/Makefile
!/openasip/doc/man/**/Makefile
!/openasip/newlib-1.17.0/newlib/libc/sys/linux/include/rpc/Makefile
!/openasip/test/**/Makefile
!/openasip/hdb/generate_lsu/generate.py
!/openasip/hdb/generate_lsu/shared

# And remove these as they are generated at build time
/openasip/test/Makefile
/openasip/test/applibs/Makefile
/openasip/test/applibs/Scheduler/Makefile
/openasip/test/applibs/Scheduler/ProgramRepresentations/Makefile
/openasip/test/applibs/wxToolkit/Makefile
/openasip/test/base/Makefile
/openasip/test/procgen/Makefile
