*.o
src/**/Makefile
*.dot
lastresults.csv
*.opb
*_scheduling.xml
vgcore*
core.*
core
*.lo
*.la
**/data
**/*-runner
**/runner
tce/Makefile
Makefile.in
tce/Makefile.in
compiletest.*.log
**/.libs
*.so
**/runner.cpp
**/*.html
**/*.orig
**/tta_stream.out
testsuite/systemtest/bintools/Scheduler/**/program.bc
testsuite/systemtest_long/bintools/Scheduler/**/program.bc
testsuite/systemtest_long/bintools/Compiler/**/program.bc
RE:.*/Makefile.in
tce/src/*/*/Makefile
tce/src/*/*/*/Makefile
tce/src/*/*/*/*/Makefile
tce/src/*/*/.deps
tce/src/*/*/*/.deps
tce/src/*/*/*/*/.deps
tce/Makefile
tce/*/Makefile
*.pypp.hpp
*.pypp.cpp
tce/src/tools/tce_version_string.h
tce/newlib-1.17.0/tce-llvm
RE:.*/.deps
RE:.*/.libs
tce/test/Makefile.in
RE:tce/src/.*/Makefile
RE:tce/test/.*/Makefile.in
tce/scheduler/**/Makefile
tce/scheduler/**/Makefile.in
tce/src/bintools/Compiler/tdgen/tdgen_transport
tce/src/bintools/Compiler/llvm-tce/llvm-tce
tce/src/bintools/Compiler/tceopgen/tceoclextgen
tce/src/bintools/Compiler/tceopgen/tceopgen
tce/src/bintools/DictionaryTool/dictionary_tool
tce/src/bintools/Disassembler/tcedisasm
tce/src/bintools/PIG/buildcompressor
tce/src/bintools/PIG/generatebits
tce/src/bintools/Scheduler/buildschedulerpass
tce/src/bintools/Scheduler/schedule
tce/src/bintools/TPEFDumper/dumptpef
tce/src/bintools/BlocksTranslator/blocks_translator
tce/src/codesign/Estimator/buildestimatorplugin
tce/test/Makefile
tce/test/Makefile_configure_settings
tce/test/applibs/Makefile
tce/test/applibs/Scheduler/Makefile
tce/test/applibs/Scheduler/ProgramRepresentations/Makefile
tce/test/applibs/wxToolkit/Makefile
tce/test/base/Makefile
tce/test/procgen/Makefile
tce/src/codesign/Estimator/estimate
tce/src/codesign/Explorer/buildexplorerplugin
tce/src/codesign/Explorer/explore
tce/src/codesign/Proxim/proxim
tce/src/codesign/osal/OSALBuilder/buildopset
tce/src/codesign/osal/OSALTester/testosal
tce/src/codesign/osal/OSEd/osed
tce/src/codesign/ttasim/ttasim
tce/src/codesign/ttasim/ttasim-tandem
tce/src/procgen/HDB/createhdb
tce/src/procgen/HDBEditor/hdbeditor
tce/src/procgen/HDBEditor/testhdb
tce/src/procgen/ProDe/prode
tce/src/procgen/ProGe/buildicdecoderplugin
tce/src/procgen/ProGe/generateprocessor
tce/src/procgen/ProGe/ttaunittester
tce/a.out
tce/aclocal.m4
tce/autom4te.cache/
tce/config.guess
tce/config.log
tce/config.status
tce/config.sub
tce/configure
tce/depcomp
tce/install-sh
tce/libtool
tce/ltmain.sh
tce/missing
tce/stamp-h1
tce/tce-config
tce/tce_config.h
tce/tce_config.h.in
tce/Python-bindings/src/Makefile-subdir.common
tce/Python-bindings/src/setup.py
tce/Python-bindings/test/RunPythonFileTests/run_tests.sh
tce/newlib-1.17.0/config.log
tce/newlib-1.17.0/config.status
tce/newlib-1.17.0/serdep.tmp
tce/src/applibs/LLVMBackend/passes/buildllvmpass
tce/src/bintools/Assembler/tceasm
tce/src/bintools/BEMGenerator/createbem
tce/src/bintools/BEMViewer/viewbem
tce/src/bintools/Compiler/tcecc
tce/src/bintools/Compiler/OpenCL/aclocal.m4
tce/src/bintools/Compiler/OpenCL/autom4te.cache/
tce/src/bintools/Compiler/OpenCL/config.guess
tce/src/bintools/Compiler/OpenCL/config.h
tce/src/bintools/Compiler/OpenCL/config.h.in
tce/src/bintools/Compiler/OpenCL/config.log
tce/src/bintools/Compiler/OpenCL/config.status
tce/src/bintools/Compiler/OpenCL/config.sub
tce/src/bintools/Compiler/OpenCL/configure
tce/src/bintools/Compiler/OpenCL/depcomp
tce/src/bintools/Compiler/OpenCL/install-sh
tce/src/bintools/Compiler/OpenCL/libtool
tce/src/bintools/Compiler/OpenCL/ltmain.sh
tce/src/bintools/Compiler/OpenCL/missing
tce/src/bintools/Compiler/OpenCL/stamp-h1
tce/src/bintools/Compiler/OpenCL/examples/oclADDF8x8/Makefile.native
tce/src/bintools/Compiler/OpenCL/tests/atconfig
tce/src/bintools/Compiler/OpenCL/tests/atlocal
#.gitignore#
.gitignore~
CONTRIBUTING.md~
tce/bclib/cpp/.deps/
tce/bclib/cpp/Makefile
tce/bclib/include/CL/Makefile
tce/bclib/include/Makefile
tce/bclib/lwpr/.deps/
tce/bclib/lwpr/Makefile
tce/bclib/saocl/.deps/
tce/bclib/saocl/Makefile
tce/compressors/.deps/
tce/cost_estimator_plugins/fu/.deps/
tce/cost_estimator_plugins/fu/Makefile
tce/cost_estimator_plugins/rf/.deps/
tce/cost_estimator_plugins/rf/Makefile
tce/data/bitmaps/Makefile
tce/explorer/.deps/
tce/icdecoder_plugins/.deps/
tce/m4/libtool.m4
tce/m4/ltoptions.m4
tce/m4/ltsugar.m4
tce/m4/ltversion.m4
tce/m4/lt~obsolete.m4
tce/newlib-1.17.0/configure.lineno
tce/opset/base/.deps/
tce/opset/base/Makefile
tce/src/.deps/
tce/src/applibs/Makefile
tce/src/base/Makefile
tce/src/bintools/Makefile
tce/src/codesign/Makefile
tce/src/procgen/Makefile
tce/src/tools/.deps/
tce/src/tools/.libs/
tce/src/tools/Makefile
tce/compile
tce/doc/man/TCE/Bibliography.bib
tce/doc/man/TCE/TCE.aux
tce/doc/man/TCE/TCE.bbl
tce/doc/man/TCE/TCE.blg
tce/doc/man/TCE/TCE.dvi
tce/doc/man/TCE/TCE.idx
tce/doc/man/TCE/TCE.ilg
tce/doc/man/TCE/TCE.ind
tce/doc/man/TCE/TCE.log
tce/doc/man/TCE/TCE.out
tce/doc/man/TCE/TCE.pdf
tce/doc/man/TCE/TCE.toc
tce/doc/man/TCE/algorithm.sty
tce/doc/man/TCE/algorithmic.sty
tce/doc/man/TCE/tce.cls
tce/doc/man/TCE/tcedocs.cls
