// Copyright (c) 2002-2009 Tampere University.
// Copyright (c) 2012 Vinogradov Viacheslav
//
// This file is part of TTA-Based Codesign Environment (TCE).
// 
// Permission is hereby granted, free of charge, to any person obtaining a
// copy of this software and associated documentation files (the "Software"),
// to deal in the Software without restriction, including without limitation
// the rights to use, copy, modify, merge, publish, distribute, sublicense,
// and/or sell copies of the Software, and to permit persons to whom the
// Software is furnished to do so, subject to the following conditions:
// 
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
// 
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
// FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
// DEALINGS IN THE SOFTWARE.
//////////////////////////////////////////////////////////////////////////////
// Revisions  :
// 2012-04-04  1.0  Vinogradov 
//////////////////////////////////////////////////////////////////////////////

`timescale 10ns/1ns
module ENTITY_STR_decompressor
#(
`include "ENTITY_STR_imem_mau_pkg.vh"
,
`include "ENTITY_STR_globals_pkg.vh"

)
(
    output fetch_en,
    input  lock,
    input[IMEMWIDTHINMAUS*IMEMMAUWIDTH-1:0] fetchblock,
    output[INSTRUCTIONWIDTH-1:0]    instructionword,
    output  glock,
    input   lock_r,
    input   clk,
    input   rstx
);

  assign    glock = lock;
  assign    fetch_en = ~lock_r;
  assign    instructionword = fetchblock[IMEMWIDTHINMAUS*IMEMMAUWIDTH-1 : IMEMWIDTHINMAUS*IMEMMAUWIDTH-INSTRUCTIONWIDTH];
  
endmodule
