function usage() {
    echo "Usage: $0 [options]"
    echo "Prepares processor design for RTL simulation."
    echo "Options:"
    echo "  -c     Enables code coverage."
    echo "  -a     Only adds the files, but doesn't run"
    echo "         the final testbench compilation"
    echo "  -h     This helpful help text."
}

# Function to do clean up when this script exits.
function cleanup() {
    true # Dummy command. Can not have empty function.
}
trap cleanup EXIT

only_add_files=no

OPTIND=1
while getopts "cah" OPTION
do
    case $OPTION in
        c)
            enable_coverage=yes
            ;;
        a)
            only_add_files=yes
            ;;
        h)
            usage
            exit 0
            ;;
        ?)  
            echo "Unknown option -$OPTARG"
            usage
            exit 1
            ;;
    esac
done
shift "$((OPTIND-1))"

