signal take_cond_branch        : std_logic;
signal cond_not_zero_reg  : std_logic;
signal cond_not_zero_wire : std_logic;
signal cond, cond_r : std_logic_vector(32-1 downto 0);
signal comp, comp_r : std_logic_vector(32-1 downto 0);
