-- Placeholder signals for debug ports
constant db_rstx     : std_logic := '1';
constant db_lockreq  : std_logic := '0';
constant db_pc_start : std_logic_vector(IMEMADDRWIDTH-1 downto 0)
                       := (others => '0');
signal cyclecnt_r, lockcnt_r   : unsigned(64 - 1 downto 0);
signal db_cyclecnt, db_lockcnt : std_logic_vector(64 - 1 downto 0);
signal db_pc, db_pc_next       : std_logic_vector(IMEMADDRWIDTH-1 downto 0);
