name: Build and Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04

    env:
      LLVM_VERSION: 22

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set environment variables
        run: |
          echo "LD_LIBRARY_PATH=$LD_LIBRARY_PATH:${{ github.workspace }}/local/lib" >> $GITHUB_ENV
          echo "PATH=${{ github.workspace }}/local/bin:$PATH" >> $GITHUB_ENV
          echo "LDFLAGS=-L${{ github.workspace }}/local/lib" >> $GITHUB_ENV

          ## TMPDIR
          TMPDIR=$HOME/tmp
          echo "TMPDIR=$TMPDIR" >> $GITHUB_ENV
          mkdir -p $TMPDIR

      - name: Print envs
        run: |
          echo "LD_LIBRARY_PATH=$LD_LIBRARY_PATH"
          echo "LDFLAGS=$LDFLAGS"
          echo "PATH=$PATH"
          echo "TMPDIR=$TMPDIR"

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libwxgtk3.2-dev \
            libboost-all-dev \
            tcl8.6-dev \
            libedit-dev \
            libsqlite3-dev \
            sqlite3 \
            libxerces-c-dev \
            g++ \
            make \
            latex2html \
            libffi-dev \
            autoconf \
            automake \
            libtool \
            subversion \
            git \
            cmake \
            graphviz \
            bc \
            ghdl iverilog verilator \
            python3 ninja-build pkg-config libglib2.0-dev \
            libpixman-1-dev libslirp-dev flex bison file device-tree-compiler \
            zlib1g-dev libfdt-dev python3-tomli \
            gcc-riscv64-unknown-elf

          sudo apt-get purge -y 'llvm-*' 'clang-*' 'libllvm-*' 'lld-*'

      - name: Create workspace directory
        run: |
          mkdir -p ${{ github.workspace }}/local

      - name: Restore LLVM cache
        id: llvm-cache-restore
        uses: actions/cache/restore@v4
        with:
          path: |
            ${{ github.workspace }}/local
          key: ${{ runner.os }}-llvm-${{ hashFiles('openasip/tools/scripts/install_llvm_${{ env.LLVM_VERSION }}.sh') }}

      - name: Install LLVM
        run: |
          if [[ "${{ steps.llvm-cache-restore.outputs.cache-hit }}" != "true" ]]; then
            echo "Cache not found. Installing LLVM..."
            cd openasip
            ./tools/scripts/install_llvm_${{ env.LLVM_VERSION }}.sh ${{ github.workspace }}/local
          else
            echo "Cache hit! LLVM ${{ env.LLVM_VERSION }} is already installed, skipping installation."
          fi

      - name: Save LLVM cache
        id: llvm-cache-save
        uses: actions/cache/save@v4
        with:
          path: ${{ github.workspace }}/local
          key: ${{ steps.llvm-cache-restore.outputs.cache-primary-key }}

      - name: Compile and install
        run: |
          cd openasip
          ./autogen.sh
          ./configure --prefix=${{ github.workspace }}/local
          make -j$(nproc)
          make install

      - name: Install QEMU-OpenASIP
        run: |
          cd openasip
          python3 ./tools/scripts/install_qemu.py $HOME/qemu-openasip

      - name: Unit tests
        run: |
          cd openasip/test
          make -s

      - name: System tests
        run: |
          python3 openasip/tools/scripts/systemtest.py -os -p$(nproc)

      - name: Dump error logs
        if: failure()
        run: |
          if [ -f difference.txt ]; then
             echo "### systemtest difference.txt"
             cat difference.txt
          fi
